.DS_Store
Thumbs.db
.vscode/
.virtual_documents/
anaconda_projects/
**/__pycache__/
**/.ipynb_checkpoints/
tmp/

# Audio data / local source material
*.wav
*.wave
*.mp3
*.aif
*.aiff
*.flac
*.ogg
*.m4a
*.aac
*.opus
*.wma

